// Define variables for your color scheme

// For example:
$red: #EA282B;
$blue: #15BECA;
$yellow: #FEC216;
$orange: #F87117;
$green: #79DE5E;
$gray: #e8e8e8;
$light-gray: #F4F4F4;
$white: #fff;
$beige: #EDD9C0;
$beigeligth: #FBEED7;
$brown: #7D4627;
$violet: #665C84;
$orangedark: #FF7657;
