<div class="favorite-product">
  <%= image_tag "http://placehold.it/128x80" %>
  <div class="favorite-product-text">
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </div>
</div>
