<div class="header">
  <h1>Dressing product list</h1>
</div>
<% @products.each do |product| %>
  <%= link_to(product_path(product), html_options = { :class => "product-card" }) do %>
    <%= render "favorite_product", product: product %>
  <% end %>
<% end %>
