<div class="dressing-header">
  <h1>Dressing product list</h1>
  <div class="user-avatar"><%= image_tag "https://res.cloudinary.com/be-better-hotels/image/upload/v1542389366/hbiylvxp7qbuz27wbtxx.jpg" %></div>
</div>
<% @products.each do |product| %>
  <%= link_to(product_path(product), html_options = { :class => "product-card" }) do %>
    <%= render "favorite_product", product: product %>
  <% end %>
<% end %>
