<div class="header">
  <h1>Mon Dressing</h1>
  <p><span class="badge badge-pill badge-<%= dressing_rating_color(@products) %>"><%= dressing_rating(@products) %><span> / 10</p>
</div>

<% @products.each do |product| %>
  <%= link_to product_path(product), class: "product-card" do %>
    <%= render "favorite_product", product: product %>
  <% end %>
<% end %>
