<div class="header">
  <h1>My Dressing</h1>
  <p><%= dressing_rating(@products) %></p>
</div>
<% @products.each do |product| %>
  <%= link_to product_path(product), class: "product-card" do %>
    <%= render "favorite_product", product: product %>
  <% end %>
<% end %>
