.product_picture {
  p {
    color: red;
  }
}
.description_product {
  padding: 20px;
}
.eco_rating {
  h3 {
    text-align: center;
  }
  .btn-link {
    background:#C9D8C5;
    &:hover {
      text-decoration: none;
    }
  }
  .card.water_footprint, .card.carbon_footprint {
    .arrow {
      color: #fff;
      font-size: 40px;
    }
    #moncercle {
      background:#c00;
      border-radius:50%;
      width:25px;
      height:25px;
      border:2px solid #c00;
    }
    .circle {
      display: flex;
      align-items: center;
    }
    .card-header {
      background: transparent;
      color: #fff;
      border-bottom: none;
    }
  }
  .card.carbon_footprint {
  }
  .btn-link:hover {
    text-decoration: none;
  }
}
.social_rating {
  h3 {
    text-align: center;
  }
  .btn-link {
    background:#C9D8C5;
    &:hover {
      text-decoration: none;
    }
  }
  .card {
    .arrow {
      color: #fff;
      font-size: 40px;
    }
    .circle {
      display: flex;
      align-items: center;
    }
    .card-header {
      background: transparent;
      color: #fff;
      border-bottom: none;
    }
    #moncercle {
      background:#c00;
      border-radius:50%;
      width:25px;
      height:25px;
      border:2px solid #c00;
    }
  }
}
