.product_picture {
  background-image: url('https://images.unsplash.com/photo-1489987707025-afc232f7ea0f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b17958c40e777065643cb65954bede79&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  height: 170px;
  display: flex;
  align-items: center;
  .dressing_btn {
    color: #fff;
  }
  .back_arrow {
    font-size: 50px;
    color: #fff;
  }
}
.description_product {
  padding: 20px;
}
.eco_rating {
  h3 {
    text-align: center;
  }
  .btn-link {
    background:#C9D8C5;
    &:hover {
      text-decoration: none;
    }
  }
  .card.water_footprint, .card.carbon_footprint {
    .arrow {
      color: #fff;
      font-size: 40px;
    }
    #moncercle {
      background:#c00;
      border-radius:50%;
      width:25px;
      height:25px;
      border:2px solid #c00;
    }
    .circle {
      display: flex;
      align-items: center;
    }
    .card-header {
      background: transparent;
      color: #fff;
      border-bottom: none;
    }
  }
  .card.carbon_footprint {
  }
  .btn-link:hover {
    text-decoration: none;
  }
}
.social_rating {
  h3 {
    text-align: center;
  }
  .btn-link {
    background:#C9D8C5;
    &:hover {
      text-decoration: none;
    }
  }
  .card {
    .arrow {
      color: #fff;
      font-size: 40px;
    }
    .circle {
      display: flex;
      align-items: center;
    }
    .card-header {
      background: transparent;
      color: #fff;
      border-bottom: none;
    }
    #moncercle {
      background:#c00;
      border-radius:50%;
      width:25px;
      height:25px;
      border:2px solid #c00;
    }
  }
}
