<footer class="footer_btn">
  <button class="my-2" type="button" name="button">
    <%= inline_svg("scan.svg", width: 32) %>
    <p class="mb-0">Scan</p>
  </button>
  <button class="my-2" type="button" name="button">
    <%= inline_svg("search.svg", width: 32) %>
    <p class="mb-0">Search</p>
  </button>
  <div class="dressing_footer">
    <button class="my-2" type="button" name="button">
      <%= inline_svg("dressing.svg", width: 32) %>
      <p class="mb-0">Dressing</p>
    </button>
  </div>
</footer>
