  <%= simple_form_for :scan, url: scans_path, html: {id: "form_scan"} do |f| %>
    <%= f.input_field :ean, as: :hidden %>
  <% end %>

<div id="scandit-barcode-picker" class="scandit"></div>

<script src="https://unpkg.com/scandit-sdk"></script>
<script>
    const licenseKey = "AXws9TgKJU+LBRvfhh/ad0c9J06lD9UlJ1B1Hwh/45MccMHfnlF7msQQOd4dUhn+ITXn7jF3zCwhUWW5GlKSmX4RHykINfeUACU5VxNZTy+YahoBxDaGyPwf3G0TN9OzMijt7jZitQDQXVflE4QhI7fydaggIWWVNOfCKYScYrCwXU0amXcMLRgjn2jLYkTkMtJXZ22SqNq6rbrO+zThKefKdrRkKRt6dKg3fA/ZjjC/Vhpgz6w53VJ4/5PhlCoWwOQHFhzfjVFNtA/E+U/sz3m7EcxX9GUZNR7J9ebL2GGckbhEc6MLQ0RFUCqqws2XnRt8ZWTSwY0qqFap8yJUJCprVr4X008fecDUs7FCKY5x/vwCFcHPqwr/NBK4KvZC5gWbsxx/+uLiqfEP7cRl8GcHFBEut87Hrufq8PuacdJrSkvHeZsX8r0H+2P76bD5UxYTrJUsZx1hUFfN5yZQAp5/JGWslncC33emFoV+1FlozUQLT+0ZmsiG6ARIG9R2khJuTnFCgrLTL2NEK6bNmyJKicIoTNCheEd3zf+vMsw9FWSlcsye7xyWHv4ykFP6R9/zrRU74m4IGZ+4mtO4cP9+IxHBVVqGElkVqRuLgo9dt9qY/bXwx32alBgHPfA/8eyCBgRKtj7F3HbZsOAa2bM38kzkkopcGBMpARgUe7FFeVydxLrWLZNMZKTTkeizjM4f+zuBa57c50HIgU5jUmfKc2AoFIlg4YpSx6x8zdI6jGaiU4k6HPn0fwKjbVVhMdaVdbChjfttj2+9zeZhYnhJWyw6HJMoJujYC820JFI=";
    const scanditOptions = { engineLocation: "https://unpkg.com/scandit-sdk/build", preloadEngineLibrary: true, preloadCameras: true };
    ScanditSDK.configure(licenseKey, scanditOptions);
    const scannerContainer = document.getElementById("scandit-barcode-picker");
    let picker;

    ScanditSDK.BarcodePicker.create(scannerContainer, {
      playSoundOnScan: true,
      vibrateOnScan: true
    }).then(function(barcodePicker) {
      picker = barcodePicker;
      const scanSettings = new ScanditSDK.ScanSettings({
        enabledSymbologies: ["ean8", "ean13"],
        codeDuplicateFilter: 1000
      });
      picker.applyScanSettings(scanSettings);

      picker.onScan(function(scanResult) {
        picker.pauseScanning();

        var barcode = scanResult.barcodes[0].data;
        const inputEan = document.getElementById('scan_ean');
        const formEan = document.getElementById('form_scan');
        inputEan.value = barcode;
        formEan.submit();

        picker.onScanError(function(error) {
          console.error(error.message);
        });
        picker.resumeScanning();
      }).catch(function(error) {
        console.log(error);
      });
    });
</script>
