  <%= simple_form_for :scan, url: scans_path, html: {id: "form_scan"} do |f| %>
    <%= f.input_field :ean, as: :hidden %>
  <% end %>

<div id="scandit-barcode-picker" class="scandit"></div>

<script src="https://unpkg.com/scandit-sdk"></script>
<script>
    const licenseKey = "AQIMyR/TAyUeKA6LYADsBjEmMbJBFJEpiUAZnzlA40Y2T17RCF5yx8J0JlgKQzyGykhEZCFCGmmCezhkvngrkgpBWcmgEgKUbF2x0ZBYxUE8XkKbzG00XhFjcW1cYsqG8gPiPAwlrPe4MzW2/AIy1GpGrqJYnWaoRFN94D+zlX6YCIQSOsRjkFYWTG1WbBT1FMnvCvLJZsTJo3S/oceLawo/Z1ZzZTpH+PnPZEi5oWHqSrFRdqDBdn7Jsj06QvR+nqwiK+Y9TgYBKsj/kI9NuBZ0q2dA9E/9NGjDJRNZbZYwzwsCXety9zc1Cb7OLuZXpWA11h2Btia/pToiCLeio7rxc5OhJw1Gb/tlPDEvv1S4D/LUPi464vG4N/OUMFzoxbhpnfQMe16jQ6o0lcq0dYDBX16jQttegTNu/HERDTm+HZdIPsfQAniDIqX9BYCEPfK+6b4nTLZl5nn4RF2/jf/kApq1rQJl/oJe2cfFdNGW0NUapRItFrpgGHnkBwJYGWDondHY41tEuNDPeEiGa81+9bYEbMe3udyRim/vsptiqygs5LUPm/Np8R9v7fybJgLQSy6EhGoUKYf5yMfEMTSbA4Qtlgx8qdHVwI4qqhZ4wbGWOLjL1D1yfebl93xI61sDxiOrAM55sql746MJM0mVeli69EL5rdS4X1Mwq0h/n/5Ot/Lv336rsgpfwJEWwf9ZfYMbcOCib8NDXmHz6CiZi3gwTqc0bB/6Gb/D+ZETaEA8oGsLtmbS88q+MDx/Lerlnx3zEqyPiL9wBaxv6kQ9CYBBuhxrKc58NibL9g8rcNDJUOijtQA=";
    const scanditOptions = { engineLocation: "https://unpkg.com/scandit-sdk/build", preloadEngineLibrary: true, preloadCameras: true };
    ScanditSDK.configure(licenseKey, scanditOptions);
    const scannerContainer = document.getElementById("scandit-barcode-picker");
    let picker;

    ScanditSDK.BarcodePicker.create(scannerContainer, {
      playSoundOnScan: true,
      vibrateOnScan: true
    }).then(function(barcodePicker) {
      picker = barcodePicker;
      const scanSettings = new ScanditSDK.ScanSettings({
        enabledSymbologies: ["ean8", "ean13"],
        codeDuplicateFilter: 1000
      });
      picker.applyScanSettings(scanSettings);

      picker.onScan(function(scanResult) {
        picker.pauseScanning();

        var barcode = scanResult.barcodes[0].data;
        const inputEan = document.getElementById('scan_ean');
        const formEan = document.getElementById('form_scan');
        inputEan.value = barcode;
        formEan.submit();

        picker.onScanError(function(error) {
          console.error(error.message);
        });
        picker.resumeScanning();
      }).catch(function(error) {
        console.log(error);
      });
    });
</script>
