  <%= simple_form_for :scan, url: scans_path, html: {id: "form_scan"} do |f| %>
    <%= f.input_field :ean, as: :hidden %>
  <% end %>

<div id="scandit-barcode-picker" class="scandit"></div>

<script src="https://unpkg.com/scandit-sdk"></script>
<script>
    const licenseKey = "AYN83TpZJ34aAEoW3BjRAx8G3/wkFdQUAinjj4pWjUDSZwjaL0jQOUtzeD/Zc63rzkkdkoVgTjBSPzfdvksNERN38JVAeYwNeVrCyE13+wJ+P7c/hRq1DYARENw0DTyi3p6AJqKs7WAxD3JA4jrTqtFPHxDAIvCBbBH3MqdgMQASRLh9LkRhRaBICXDda0KrZ5YjzUJ41jYQDEr0XqIxUPxSdVCkHBpIOY9hf783C3XPb2weA7GODgfuY1JyJDgoIWbmLbS/agAsI8aTRMBNTAWPThAOYcwPqMxCoNCGycdIL0vdIAFVRNLV49Aka9NJQ/1Nqx1oTBLfDnsmzfbA4Uxk/YRPKnV8kiMsRXTDaSeo/Zqjepq10xzSJjldElpNj0ODpL19Pigv1ezYmtoPgCXqMEIao2nFjR70gzjQj/gil8L8Z2vX2xFaPB8OsQfbvS8Wfq+b5bCRZsSJ+Ulx/5YwMi0svKP+mqlXV5iUzk/F8VWxoAF6h+E/6H9OEFh4v6xQc3e42WloDG1Imi/ImgQQ9AAVccYQ1bI309K99aGNeIoCcXmfwCSDiJSFCSylbhVi7iXDfRraIlcyXm23ptFji6mxVmCtmKXQoHqpqW2k+Un4P/DgcLvxHlpxnoN2Eb548VBhE2jqeRrPPWh24ehKkm+ZlxVuoUlFUG8WZM6fvvTmNNzGTpP31g1XrAYFVPDRfAEg64/vCC76IFtMl2LMbzDuJ3z8By28384zf98tgY+5j1xk9gSLs+4K1Zm/ECM2ME71SxJZEIWPFb97a4//NQhURsj6/8z+";
    const scanditOptions = { engineLocation: "https://unpkg.com/scandit-sdk/build", preloadEngineLibrary: true, preloadCameras: true };
    ScanditSDK.configure(licenseKey, scanditOptions);
    const scannerContainer = document.getElementById("scandit-barcode-picker");
    let picker;

    ScanditSDK.BarcodePicker.create(scannerContainer, {
      playSoundOnScan: true,
      vibrateOnScan: true
    }).then(function(barcodePicker) {
      picker = barcodePicker;
      const scanSettings = new ScanditSDK.ScanSettings({
        enabledSymbologies: ["ean8", "ean13"],
        codeDuplicateFilter: 1000
      });
      picker.applyScanSettings(scanSettings);

      picker.onScan(function(scanResult) {
        picker.pauseScanning();

        var barcode = scanResult.barcodes[0].data;
        const inputEan = document.getElementById('scan_ean');
        const formEan = document.getElementById('form_scan');
        inputEan.value = barcode;
        formEan.submit();

        picker.onScanError(function(error) {
          console.error(error.message);
        });
        picker.resumeScanning();
      }).catch(function(error) {
        console.log(error);
      });
    });
</script>
