  <%= simple_form_for :scan, url: scans_path, html: {id: "form_scan"} do |f| %>
    <%= f.input_field :ean, as: :hidden %>
  <% end %>

<div id="scandit-barcode-picker" class="scandit"></div>

<script src="https://unpkg.com/scandit-sdk"></script>
<script>
    const licenseKey = "AWlcBwJZH3R+PC4AGxZW9gwAfJjxMrHBl0VmJwFm9r8rVWEZRn4poXNEMGJpKqIyak/YvFJSRyD1ZejXdTeR+MFMDgPfStO9j3NEUbhVLuPBIlhxhyMHnyEfUaWrFPhyo/x6yWVj/W0/emiOR7IfOpXo8BZug9s1+zcgB3+fJlDeLhyszOMHB665zP1PM7MAbsSrqluB1lbhMUonLVOO1SrNfv80Cf9Cw21mvlM6lWGcuLUKqzpTzzXXC5xZ2IIPRPzwsJgMEkr4IoS5Wu08eAEgh8c9S/Y6hc4UStUV0CLmYzfcvflC5J2cf/ZGZkPNj/DvAPPEhJRpLpkiX53qCnQATcXlQ7SmVIVCttvInh2umbJO0BgN9pxOtG/K4rz1yLVTDq+XCqA0w95X/0JjZ12lZuf10A6FCutGvHGMPTuSlFvfYCiGNYFtNVYcDXmfFBUXhKJu6saRSSNZWt0OF2LRLDUAcoZO3MntVgoDyB8yOIabZQVT/S1d3lSDNc3TOtdnThClnXgOz8qTYZEHSTaawDhBp34EPUROnttEnmv/8uXvacxB9Cf8JYE/XwvhM9eCgujs84r6uJeVa/omntAaYaVObWnXqX83h++wBmrnJ3xxviZA05VyFeRj1fyg6qDy+Dhk7GPJJPta0Knk1oWf+61e/6JXpBBs5bpS04etSOUz59XymnH818hYocbXdRAaepe568qbn1BpSdLHRZB+GCpjP5uj5KgiiTTDQ3Sedd4OwXm+gR/+dl61GzcU3/X6iegf6kPzsf/a/49fpyeYJdNVkDrYHwrn";
    const scanditOptions = { engineLocation: "https://unpkg.com/scandit-sdk/build", preloadEngineLibrary: true, preloadCameras: true };
    ScanditSDK.configure(licenseKey, scanditOptions);
    const scannerContainer = document.getElementById("scandit-barcode-picker");
    let picker;

    ScanditSDK.BarcodePicker.create(scannerContainer, {
      playSoundOnScan: true,
      vibrateOnScan: true
    }).then(function(barcodePicker) {
      picker = barcodePicker;
      const scanSettings = new ScanditSDK.ScanSettings({
        enabledSymbologies: ["ean8", "ean13"],
        codeDuplicateFilter: 1000
      });
      picker.applyScanSettings(scanSettings);

      picker.onScan(function(scanResult) {
        picker.pauseScanning();

        var barcode = scanResult.barcodes[0].data;
        const inputEan = document.getElementById('scan_ean');
        const formEan = document.getElementById('form_scan');
        inputEan.value = barcode;
        formEan.submit();

        picker.onScanError(function(error) {
          console.error(error.message);
        });
        picker.resumeScanning();
      }).catch(function(error) {
        console.log(error);
      });
    });
</script>
