.btn-brand {
  padding: 18px;
  margin: 4px 0 4px 0;
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $brown;
    text-decoration: none;
  }
}

.btn {
  padding: 18px;
  margin: 4px 0 4px 0;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.form-actions input.btn {
  padding: 18px;
  margin: 4px 0 4px 0;
  background-color: $orange;
  color: $white;
}

.center-wide {
  width: 100%;
}
