$circle-size: 25px;

.circle {
  display: inline-block;
  border-radius: 50%;
  width: $circle-size;
  height: $circle-size;
}

@each $color, $value in $theme-colors {
  .circle-#{$color} {
    background: $value;
  }
}
