input[type="radio"] {
  display:none;
}
.product_gender {
  &:first-child {
    display: none;
  }
}

label.collection_radio_buttons {
  border: 1px solid #DDD;
  border-radius:5px;
  padding:20px 20px;
  // margin-top:10px;
  display:block;
  position:relative;
  width: 100%;
  text-align: center;
  margin-right: 4px;
}

.form-check-inline {
  flex-grow: 1;
  justify-content: space-around;
}

::placeholder {
  color: #e1e1e1 !important;
}

input[type="radio"]:checked + label {
  background-color:$light-green;
  color: #000;
}
abbr {
  color: #c00;
  text-decoration: none !important;
  font-size: 23px;
}

.col-sm-9 {
  display: flex;
  .form-check-inline {
    margin: 0;
  }
}
