.card-product {
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-position: center;
  background-size: cover;
  &:hover {
    text-decoration: none;
  }
  .card-body {
    height: 180px;
    background-size: cover;
    color: white;
    position: relative;
    h4 {
    font-size: 1.2em;
    font-weight: 600;
    }
  }
  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: $light-green;
    border-radius: 0;
    color: #000;
    &:hover {
      text-decoration: none;
    }
    .product_price {
      font-weight: 600;
    }
    .product_name {
      width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 20px;
    }
  }
}

.header-product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    .flex-item:first-child {
    margin-left: 20px;
    margin-bottom: 100px;
    }
    .flex-item:last-child {
    margin-right: 20px;
    }
}

.description_product {
  .product_name {
    width: 245px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
  }
  .product-name-line {
    border-bottom: solid 2px $light-green;
  }
  h3.product-brand {
    margin-top: 13px;
    font-size: 1.3em;
  }
}

.badge {
  color: white;
}
