.remove_record {
  padding: 0px 12px;
  font-size: 20px;
  color: #c00;
  background: #fff;
  font-weight: bold;
  border: 2px solid #c00;
  margin-right: 10px;
}
.add_record {
  padding: 4px 12px;
  font-size: 17px;
  color: #67bf4f;
  background: #fff;
  border: 2px solid #67bf4f;
  margin-right: 10px;
  display: block;
  width: 200px;
  margin: 0 auto;
}
