#reviews {
  position: relative;
}

.reviews_link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;

}

.reviews_product {
  border-bottom: 1px solid #80808029;
  .comment_title {
    font-weight: bold;
  }
  .avatar_bloc {
    .avatar {
      border-radius: 50%;
      height: 40px;
    }
  }
  .review_bloc {
    .review_date {
      font-size: 13px;
    }
  }
}
