#slider {
  border: 1px solid #000;
  height: 0px;
  .noUi-horizontal .noUi-handle {
    width: 27px;
    height: 24px;
    top: -14px !important;
  }
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
  top: -14px;
}
.noUi-handle:before, .noUi-handle:after {
  background: #000 !important;
  width: 4px !important;
  left: 14px !important;
}
