.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto;
    margin-top: 12px;
    margin-left: 50px;
    img {
      width: 40px;
    }
}
