<div class="product-card-list">
  <div class="image-product">
    <%= cl_image_tag product.photo %>
  </div>
  <div>
    <div class="card-title"><%= product.name %></div>
    <div class="card-subtitle"><%= product.brand.name %></div>
    <p><%= product.price %></p>
  </div>
</div>
