<div class="product-list-header">
  <h1>Search BAR</h1>
  <div class="user-avatar"><%= image_tag "https://res.cloudinary.com/be-better-hotels/image/upload/v1542389366/hbiylvxp7qbuz27wbtxx.jpg" %></div>
</div>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <%= link_to(product_path(product)) do %>
        <%= render "product", product: product %>
      <% end %>
    <% end %>
  </div>
</div>
