<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-6 card">
        <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path product.photo %>');">
            <div class="card-title"><%= product.name %></div>
            <div class="card-subtitle"><%= product.brand.name %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
