<div class="header">
  <%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a product"
  %>
<% end %>
</div>
<div class="container">
  <div class="row">
    <div>
      <% @products.each do |product| %>
        <%= link_to(product_path(product)) do %>
        <%= render "product", product: product %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
