<div class="header">
  <%= form_tag products_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control select2",
    placeholder: "Find a product"
  %>
<% end %>
</div>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-6 p-0">    
      <%= render "product", product: product %>
    </div>
    <% end %>
  </div>
</div>
