<div class="reviews_product">
  <p class="mb-1"><%= review.stars %>              <%= inline_svg("star.svg", width: 32, class: "collapse-icon") %></p>
  <p class="comment"><%= review.content %></p>
</div>
